# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas 
4. ggplot

| Data Science Tools |
|--------------------|
| Tensor Flow        |
| Apache Hadoop      |
| WEKA               |

### Below are a few examples of evaluating arithmetic expressions in Python

#declare the variables <br>
x = 5 <br>
y = 3 <br>

#use eval function for basic arithmetic operations with variables <br>
calc_add = eval("x + y") <br>
calc_sub = eval("x - y") <br>
calc_mul = eval("x * y") <br>
calc_div = eval("x / y") <br>

#print the results <br>
print(calc_add) <br>
print(calc_sub) <br>
print(calc_mul) <br>
print(calc_div) <br>

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is {hours} hours")

200 minutes is 3.3333333333333335 hours

**Objectives:**
* List popular languages
* Mention commonly used libraries
* Example of arithmetic evaluation

## Author 
Dennis Vasyschev